<%= common_file_field 'fs_prompt', 'filename', 'File' %>
<%= common_checkbox_field 'fs_prompt', 'active', 'Active', @fs_prompt.active %>
<%= common_text_field 'fs_prompt', 'name', 'Name', @fs_prompt.name %>
<%= common_text_field 'fs_prompt', 'description', 'Description', @fs_prompt.description %>