<div id="header">
  <ul id="primary">
    <li>
    <span>
      Prompt Details
      <ul id="secondary"><li><%= link_to 'List', :action => 'index' %></li></ul>
    </span>
    </li>
  </ul>
</div>
<div id="main">
<div id="contents">
	
<% form_tag({:action => 'update', :id => @fs_prompt},{:class => 'cssform'}) do %>
  <fieldset>
    <legend>Editing Prompt:</legend>
    <%= render :partial => 'form' %>
    <%= submit_tag 'Save' %>
  </fieldset>
<% end %>

</div>
</div>

