<div id="header">
  <ul id="primary">
    <li>
    <span>
      New Prompt
      <ul id="secondary"> </ul>
    </span>
    </li>
  </ul>
</div>
<div id="main">
<div id="contents">

<% form_tag({:action => 'create'},{:class => 'cssform', :multipart => true}) do %>
  <fieldset>
    <legend>Importing 16bit 8kHz Wav File:</legend>
    <%= render :partial => 'import_form' %>
	<%= submit_tag 'Import' %>
  </fieldset>
<% end %>

</div>
</div>

